@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Inter',sans-serif;
}

body{

    background:
    radial-gradient(circle at top left,#2563eb22,transparent 30%),
    radial-gradient(circle at bottom right,#7c3aed22,transparent 30%),
    #0B1120;

    color:white;

    min-height:100vh;

    overflow-x:hidden;
}

a{
    text-decoration:none;
}

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-thumb{
    background:#3B82F6;
    border-radius:10px;
}